*
    margin: 0
    padding: 0
    box-sizing: border-box

img
    max-width: 100%
    height: auto

body
    font-family: 'OpenSans', sans-serif
    font-size: 18px
    font-style: normal
    font-weight: normal
    background-color: #1c1d2b
    color: #0D0D0D

.button
    font-family: 'Montserrat', sans-serif
    font-size: 18px
    font-weight: normal
    line-height: 120%
    font-style: normal
    color: #ffffff
    background: linear-gradient(135deg, #5ba4ff, #376fdc)
    padding: 20px 0
    transition: 0.3s
    cursor: pointer
    border: none
    display: inline-block
    &:hover
        transform: scale(1.05)
    &--back
        background-color: #ffffff
        border: 1px solid #BDBDBD
        color: #111313
        margin-right: 20px