.partners
    background: #fff
    padding-top: 80px
    padding-bottom: 80px
    &__card
        margin: 15px
        width: 140px
        height: 99px
    &__row
        flex-wrap: wrap
    &__title
        margin-bottom: 50px